body { font-family:      Georgia, serif;
       font-size:        16pt;
       color:            #000;
       margin-left:      20px;
       margin-right:     20px;
       text-align:       justify;
       background-color: #999;
       background-image: url("xorpic.png"); }

h1, h2, h3 {
     font-family: ocr, Verdana, sans-serif;
     font-size: 18pt;
}

@font-face {
	font-family: 'ocr';
	src: url('OCRA.otf') format('truetype');
}

@media only screen and (min-device-width : 320px) and (max-device-width : 569px) {
       .hideimg {
		display: none;
	}
}

